@font-face {
  font-family: "Pokemon Hollow";
  src: url("fonts/pokemon-hollow.ttf") format("truetype");
}

@font-face {
  font-family: "Pokemon X and Y";
  src: url("fonts/pokemon-x-and-y.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pokemon-list {
  padding: 20px;
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  background-image: linear-gradient(black, transparent), url("img/pika-bg.avif");
  background-attachment: fixed;
}

.pokemon-card {
  width: 225px;
  height: 325px;
  border: 2px outset gray;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  box-shadow: 2px 2px 15px #0009;
}

.dark {
  background: linear-gradient(
      50deg,
      rgb(2 111 15) 5%,
      rgb(4 145 161) 20%,
      black 70%
    ),
    url("img/cardboard.png");
  color: white;
}

header {
  background-image: url("img/poke-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  font-family: "Pokemon Hollow", fantasy;
  font-size: 4rem;
  color: white;
  line-height: 50%;
  text-shadow: 2px 2px 5px black;
}

.get-pokemon {
  display: inline-block;
  padding: 0.7em 1.4em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Pokemon X and Y", fantasy;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fff;
  background-image: linear-gradient(rgb(255 78 78) 50%, white 50%);
  box-shadow: inset 0 -0.6em 0 -0.35em rgb(0 0 0 / 17%);
  text-align: center;
  position: relative;
}

.get-pokemon:active {
  top: 0.1em;
}

.pokemon-img {
  max-height: 123px;
  min-width: 110px;
  height: auto;
  image-rendering: pixelated;
}

.pokemon-img,
.data {
  transform: translateZ(60px);
  font-family: "Pokemon X and Y", fantasy;
  font-weight: normal;
  letter-spacing: 3px;
}

.name {
  text-align: center;
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.stats {
  display: flex;
  gap: 5px;
}

.weight,
.height {
  background-color: goldenrod;
  border-radius: 5%;
  padding: 5px;
  margin: 2px;
}

.types {
  display: flex;
}

.type {
  background-color: salmon;
  border-radius: 5%;
  padding: 5px;
  margin: 5px;
}

.type-rock {
  --color: #999799;
}

.type-electric {
  --color: #ffea70;
}

.type-normal {
  --color: #b09398;
}

.type-water {
  --color: #0596c7;
}

.type-ice {
  --color: #afeafd;
}

.type-flying {
  --color: #7ae7c7;
}

.type-grass {
  --color: #4a9681;
}

.type-psychic {
  --color: #ffc6d9;
}

.type-ghost {
  --color: #561d25;
}

.type-bug {
  --color: #a2faa3;
}

.type-poison {
  --color: #795663;
}

.type-ground {
  --color: #d2b074;
}

.type-dragon {
  --color: #da627d;
}

.type-steel {
  --color: #1d8a99;
}

.type-fighting {
  --color: #2f2f2f;
}

.type-fairy {
  --color: #8f1342;
}

/* .type-default {
  --color: "#2A1A1F";
} */
